services:
  app_proxy:
    environment:
      APP_HOST: pluto-mining-pluto-next_frontend_1
      APP_PORT: 7677
    depends_on:
      - frontend
    restart: on-failure

  mock:
    image: ghcr.io/plutomining/pluto-mock:0.7.0-rc.2
    ports:
      - "7670:7670"
      - "7651:7651"
      - "7652:7652"
      - "7653:7653"
      - "7654:7654"
      - "7655:7655"
      - "7656:7656"
      - "7657:7657"
      - "7658:7658"
      - "7659:7659"
      - "7660:7660"
    pid: host
    restart: on-failure
    environment:
      - LISTING_PORT=7670
      - PORTS=7651,7652,7653,7654,7655,7656,7657,7658,7659,7660
      - LOGS_PUB_ENABLED=false
    user: "1000:1000"

  discovery:
    image: ghcr.io/plutomining/pluto-discovery:1.1.3-beta.0@sha256:fbecef9fe6f444ddba4e052be83bb5665356de6c6c5cb9f50b623e6113c1fd91
    network_mode: "host"
    pid: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    restart: on-failure
    environment:
      - PORT=7675
      - DETECT_MOCK_DEVICES=true
      - MOCK_DISCOVERY_HOST=http://172.17.0.1:7670
    volumes:
      - ${APP_DATA_DIR}/data/leveldb:/home/node/app/data
    user: "1000:1000"

  backend:
    image: ghcr.io/plutomining/pluto-backend:1.1.3-beta.0@sha256:1af39f308ab82c5d633212582886b79522343a350e0120bbafed6383e876b538
    container_name: pluto-mining-pluto-next_backend_1
    pid: host
    restart: on-failure
    environment:
      - PORT=7676
      - AUTO_LISTEN=true
      - DISCOVERY_SERVICE_HOST=http://172.17.0.1:7675
      - GF_HOST=http://pluto-mining-pluto-next_grafana_1:3000
      - DELETE_DATA_ON_DEVICE_REMOVE=true
    volumes:
      - ${APP_DATA_DIR}/data/leveldb:/home/node/app/data
      - ${APP_DATA_DIR}/data/grafana:/home/node/app/grafana
    depends_on:
      prometheus:
        condition: service_healthy
      grafana:
        condition: service_healthy
    user: "1000:1000"

  frontend:
    image: ghcr.io/plutomining/pluto-frontend:1.1.5-beta.0@sha256:ff49ec25556ff1c7d542eeba0813cbd39f5c556a3cf3b79a7e39af3baa007e51
    container_name: pluto-mining-pluto-next_frontend_1
    pid: host
    restart: on-failure
    depends_on:
      - backend
    environment:
      - PORT=7677
      - GF_HOST=http://pluto-mining-pluto-next_grafana_1:3000
      - BACKEND_DESTINATION_HOST=http://pluto-mining-pluto-next_backend_1:7676
    volumes:
      - ${APP_DATA_DIR}/umbrel-app.yml:/tmp/umbrel-app.yml:ro
    user: "1000:1000"

  prometheus:
    image: ghcr.io/plutomining/pluto-prometheus:1.1.2@sha256:64bdc2c383e17df9925fe4fbe0dd2972b52616dcfb51489f0aa487307f19c53c
    container_name: pluto-mining-pluto-next_prometheus_1
    volumes:
      - ${APP_DATA_DIR}/data/prometheus:/prometheus
      - ${APP_DATA_DIR}/data/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    pid: host
    healthcheck:
      test:
        - "CMD-SHELL"
        - "wget --spider --quiet http://localhost:9090/-/ready || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
    user: "1000:1000"

  grafana:
    image: ghcr.io/plutomining/pluto-grafana:1.1.3@sha256:a268c8cd80f109a37afab74d6c1bc03beb093b795b4720ce2c5bdab326656640
    container_name: pluto-mining-pluto-next_grafana_1
    pid: host
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=${APP_PASSWORD}
      - GF_INSTALL_PLUGINS=marcusolsson-treemap-panel
    volumes:
      - ${APP_DATA_DIR}/data/grafana:/var/lib/grafana
      - ${APP_DATA_DIR}/data/grafana/provisioning/datasources/main.yaml:/etc/grafana/provisioning/datasources/main.yaml:ro
    healthcheck:
      test:
        - "CMD-SHELL"
        - "wget --spider --quiet http://localhost:3000/api/health || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      prometheus:
        condition: service_healthy
    user: "1000:1000"

